@* Licensed to the .NET Extension Contributors under one or more agreements. *@
@* The .NET Extension Contributors licenses this file to you under the MIT license. *@
@* See the LICENSE file in the project root for more information. *@

@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.
