@* Licensed to the .NET Extension Contributors under one or more agreements. *@
@* The .NET Extension Contributors licenses this file to you under the MIT license. *@
@* See the LICENSE file in the project root for more information. *@

@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
